
<body>

<main>
<div class="container">
<p>Gerenciamento de tarefas</p>
<form action="/principal" method="post">
  
  <div class="mb-3">
     <img src="/imagens/profile.png" alt=""> <label for="usuario" class="form-label">Usuário</label>
    <input type="text" name="input_usuario" class="form-control">
    
  </div>
  <div class="mb-3">
   <img src="/imagens/trancar.png" alt=""> <label for="senha" class="form-label">Senha</label>
     <input type="password" name="input_senha" class="form-control">
  </div>

<div class="botao"><button type="submit" class="btn btn-primary">Acessar</button></div>
</form>

</div>

</main>

</body>
