<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gerenciador de Tarefas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/views/pagina_principal">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opções
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/views/pagina_usuario">Cadastrar Usuario</a></li>
              <li><a class="dropdown-item" href="#">Registrar Tarefas</a></li>
              <li>
              <li><a class="dropdown-item" href="#">Tarefas em andamento</a></li>
              <li>
              <li><a class="dropdown-item" href="#">Tarefas Concluidas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/">Sair</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Procurar tarefas" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Procurar</button>
        </form>
      </div>
    </div>
  </div>
</nav>


{{! FICHA PARA REGISTRAR TAREFAS}}

<main class="formulario_tarefas">
<h1>Adicionar Tarefas</h1>

  <form action="/tarefa" method="post" class="row g-3">
    <div class="col-md-6">
      <label for="inputDescricao" class="form-label">Descrição da tarefa</label>
      <input type="text" class="form-control" id="inputDescricao" name="descricao">
    </div>
    <div class="col-md-6">
      <label for="inputData" class="form-label">Data</label>
      <input type="date" class="form-control" id="inputData" name="data">
    </div>
    <div class="col-md-4">
      <label for="inputSituacao" class="form-label">Situação</label>
      <select id="inputSituacao" class="form-select" name="situacao">
        <option selected>Situação...</option>
        <option>Crítica</option>
        <option>Moderado</option>
        <option>Leve</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="usuario" class="form-label">Tarefas por usário</label>
      <select id="usuario" class="form-select" name="usuario">
        <option selected>Usuário...</option>
        <option>João Vitor</option>
      </select>
    </div>
 
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Registrar</button>
      <button type="reset" class="btn btn-primary">Limpar</button>
    </div>

  </form>

</main>